{% extends "base.html" %}

{% block title %}Materias{% endblock %}

{% block content %}
<h2>Materias</h2>

<ul>
    {% for materia in materias %}
        <li>
            <a href="{% url 'detalle_materia' materia.pk %}">{{ materia.nombre }}</a> 
            (Cuatrimestre: {{ materia.cuatrimestre }})
        </li>
    {% empty %}
        <li>No hay materias cargadas aún.</li>
    {% endfor %}
</ul>

<a href="{% url 'crear_materia' %}" class="btn">➕ Agregar nueva materia</a><br><br>
<a href="{% url 'home' %}" class="btn">Volver al inicio</a>
{% endblock %}
